<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>

    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/dashboard.css" />
  </head>
  <body>
    <script>
      window.currentFolderId = <%= JSON.stringify(currentFolderId || null) %>;
    </script>

    <header>
      <div class="logo-holder">
        <img class="logo" src="/images/logo.svg" alt="" />
        <h1 class="logo-text">Drive of Holding</h1>
      </div>

      <nav>
        <ul>
          <li>
            <form action="/logout" method="post">
              <button class="logout" type="submit">Log out</button>
            </form>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="main-header">
        <h2>Welcome, <%=user.firstname %></h2>

        <div class="create-controls">
          <button id="showFolderModal" class="btn-primary">
            Create Folder
          </button>
          <button id="showUploadModal" class="btn-primary">Upload File</button>
        </div>

        <div id="modalOverlay" class="modal-overlay hidden">
          <div id="modalContent" class="modal-content"></div>
        </div>

        <nav class="breadcrumbs">
          <%if(currentFolderId !== null) {%>

          <a class="breadcrumb" href="/dashboard">Dashboard</a>
          <span class="separator">/</span>
          <% if(typeof breadcrumbs !== 'undefined' && breadcrumbs.length) {%> <%
          breadcrumbs.forEach((crumb, index) => { %> <% if (index <
          breadcrumbs.length -1) { %>
          <a class="breadcrumb" href="/dashboard?folderId=<%=crumb.id%>"
            ><%= crumb.name%>/</a
          >
          <span class="separator">/</span>
          <% } else {%>
          <span class="current-breadcrumb"> <%=crumb.name %></span>
          <%}%> <% }) %> <% }%> <% } %>
        </nav>
      </section>

      <section class="items-container">
        <div class="errors">
          <% if (typeof errors !== 'undefined' && errors.length) { %>
          <ul style="color: red">
            <% errors.forEach(e => { %>
            <li><%= e.msg %></li>
            <% }) %>
          </ul>
          <% } %>
        </div>

        <% if(!items || items.length === 0){ %>
        <div>
          <h3>You current have no files or folders!</h3>
        </div>
        <%} else {%>
        <table class="items-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Size</th>
              <th>Date Created</th>
              <th>Rename</th>
              <th>Download</th>
              <th>Share</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <% items.forEach(item => { %>
            <tr>
              <td>
                <% if (item.type === 'folder') { %>
                <a href="/dashboard?folderId=<%= item.id %>"
                  >📁 <%= item.name %></a
                >

                <% } else { %> 📄 <%= item.name %> <% } %>
              </td>
              <td><%= item.type === 'file' ? fileSize(item.size) : '-' %></td>
              <td><%= item.date.toLocaleString() %></td>
              <td>
                <% if(item.type === 'folder') {%>
                <form
                  action="/folders/<%=item.id%>/rename"
                  method="post"
                  onsubmit="return renamePrompt(this)"
                >
                  <input
                    type="hidden"
                    name="currentFolderId"
                    value="<%=currentFolderId ?? ''%>"
                  />
                  <input type="hidden" name="name" value="" />
                  <button>Rename</button>
                </form>
                <%} else {%>
                <form
                  action="/files/<%=item.id%>/rename"
                  method="post"
                  onsubmit="return renamePrompt(this)"
                >
                  <input
                    type="hidden"
                    name="currentFolderId"
                    value="<%=currentFolderId ?? ''%>"
                  />
                  <input type="hidden" name="name" value="" />
                  <button>Rename</button>
                </form>
                <% }%>
              </td>
              <td>
                <% if (item.type === 'folder') { %>
                <a href="/folders/<%= item.id %>/download">Download</a>
                <% } else { %>
                <a href="/files/<%= item.id %>/download">Download</a>
                <% } %>
              </td>
              <td>
                <%if(item.type === "folder"){ %>
                <form
                  action="/folders/<%=item.id%>/share"
                  method="post"
                  onsubmit="return true"
                >
                  <input
                    type="number"
                    name="durationInHours"
                    min="1"
                    max="720"
                    value="24"
                  />
                  <button>Share</button>
                </form>
                <% }else {%>
                <form
                  action="/files/<%=item.id%>/share"
                  method="post"
                  onsubmit="return true"
                >
                  <input
                    type="number"
                    name="durationInHours"
                    min="1"
                    max="720"
                    value="24"
                  />
                  <button>Share</button>
                </form>
                <% }%>
              </td>
              <td>
                <% if(item.type === 'folder') {%>
                <form
                  action="/folders/<%=item.id%>/delete"
                  method="post"
                  onsubmit="return confirmDelete('<%= item.name %>')"
                >
                  <button>Delete</button>
                </form>
                <%} else {%>
                <form
                  action="/files/<%=item.id%>/delete"
                  method="post"
                  onsubmit="return confirmDelete('<%= item.name %>')"
                >
                  <input
                    type="hidden"
                    name="currentFolderId"
                    id="<%=currentFolderId ?? ''%>"
                  />
                  <button>Delete</button>
                </form>
                <% }%>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>

        <% }%>
      </section>
    </main>

    <script src="/scripts/dashboardScripts.js"></script>
  </body>
</html>
