<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <header>
      <h1>Drive of Holding</h1>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <!-- <li><a href="/logout">Log out</a></li> -->
          <li>
            <form action="/logout" method="post">
              <button
                type="submit"
                style="
                  background: none;
                  border: none;
                  color: blue;
                  text-decoration: underline;
                  cursor: pointer;
                "
              >
                Log out
              </button>
            </form>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="main-header">
        <h2>Welcome, <%=user.firstname %></h2>

        <div class="create-controls">
          <form action="/folders" method="post">
            <input
              type="hidden"
              name="parentId"
              value=" <%= currentFolderId ||
            ''  %>"
            />
            <input type="text" name="name" required />
            <button type="submit">Create Folder</button>
          </form>

          <form action="/files" method="post" enctype="multipart/form-data">
            <input
              type="hidden"
              name="folderId"
              value="<%=currentFolderId || '' %>"
            />
            <input type="file" name="file" required />
            <button>Upload File</button>
          </form>
        </div>
      </section>
      <section class="items-container">
        <div class="errors">
          <% if (typeof errors !== 'undefined' && errors.length) { %>
          <ul style="color: red">
            <% errors.forEach(e => { %>
            <li><%= e.msg %></li>
            <% }) %>
          </ul>
          <% } %>
        </div>

        <% if(!items || items.length === 0){ %>
        <div class="">
          <h3>You current have no files or folders!</h3>
        </div>
        <%} else {%>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Size</th>
              <th>Date Created</th>
              <th>Download</th>
              <th>Share</th>
            </tr>
          </thead>
          <tbody>
            <% items.forEach(item => { %>
            <tr>
              <td>
                <% if (item.type === 'folder') { %>
                <a href="/dashboard?folderId=<%= item.id %>"
                  >📁 <%= item.name %></a
                >
                <% } else { %> 📄 <%= item.name %> <% } %>
              </td>
              <td><%= item.type === 'file' ? item.size : '-' %></td>
              <td><%= item.date.toLocaleString() %></td>
              <td>
                <% if (item.type === 'folder') { %>
                <a href="/dashboard?folderId=<%= item.id %>">Open</a>
                <% } else { %>
                <a href="/files/<%= item.id %>/download">Download</a>
                <% } %>
              </td>
              <td><button>Share</button></td>
            </tr>
            <% }) %>
          </tbody>
        </table>

        <% }%>
      </section>
    </main>
  </body>
</html>
