<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <header>
      <h1>Drive of Holding</h1>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <!-- <li><a href="/logout">Log out</a></li> -->
          <li>
            <form action="/logout" method="post">
              <button
                type="submit"
                style="
                  background: none;
                  border: none;
                  color: blue;
                  text-decoration: underline;
                  cursor: pointer;
                "
              >
                Log out
              </button>
            </form>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="main-header">
        <h2>Welcome, <%=user.firstname %></h2>

        <div class="create-controls">
          <form action="/upload">
            <button>Create Folder</button>
          </form>

          <form action="/files" method="post" enctype="multipart/form-data">
            <input type="file" name="file" required />
            <button>Upload File</button>
          </form>
        </div>
      </section>
      <section class="items-container">
        <div class="errors">
          <% if (typeof errors !== 'undefined' && errors.length) { %>
          <ul style="color: red">
            <% errors.forEach(e => { %>
            <li><%= e.msg %></li>
            <% }) %>
          </ul>
          <% } %>
        </div>

        <% if(!files || files.length === 0){ %>
        <div class="">
          <h3>You current have no files or folders!</h3>
        </div>
        <%} else {%>
        <table>
          <thead>
            <th>Name</th>
            <th>Size</th>
            <th>Date Created</th>
            <th>Download</th>
            <th>Share</th>
          </thead>
          <tbody>
            <%files.forEach( (file) => { %>
            <tr>
              <td><%=file.name%></td>
              <td><%=file.size%></td>
              <td><%=file.uploadTime.toLocaleString()%></td>
              <td><a href="/files/<%= file.id %>/download">Download</a></td>
              <td><button>Share</button></td>
            </tr>

            <% }) %>
          </tbody>
        </table>

        <% }%>
      </section>
    </main>
  </body>
</html>
