<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>

    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/dashboard.css" />
  </head>
  <body>
    <script>
      window.currentFolderId = <%= JSON.stringify(currentFolderId || null) %>;
    </script>

    <header>
      <div class="logo-holder">
        <img class="logo" src="/images/logo.svg" alt="" />
        <h1 class="logo-text">Drive of Holding</h1>
      </div>

      <nav>
        <ul>
          <li>
            <form action="/logout" method="post">
              <button class="logout" type="submit">Log out</button>
            </form>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="main-header">
        <h2>Welcome, <%=user.firstname %></h2>

        <div class="create-controls">
          <button id="showFolderModal" class="btn-primary">
            Create Folder
          </button>
          <button id="showUploadModal" class="btn-primary">Upload File</button>
        </div>

        <div id="modalOverlay" class="modal-overlay hidden">
          <div id="modalContent" class="modal-content"></div>
        </div>

        <nav class="breadcrumbs">
          <%if(currentFolderId !== null) {%>

          <a class="breadcrumb" href="/dashboard">Dashboard</a>
          <span class="separator">/</span>
          <% if(typeof breadcrumbs !== 'undefined' && breadcrumbs.length) {%> <%
          breadcrumbs.forEach((crumb, index) => { %> <% if (index <
          breadcrumbs.length -1) { %>
          <a class="breadcrumb" href="/dashboard?folderId=<%=crumb.id%>"
            ><%= crumb.name%>/</a
          >
          <span class="separator">/</span>
          <% } else {%>
          <span class="current-breadcrumb"> <%=crumb.name %></span>
          <%}%> <% }) %> <% }%> <% } %>
        </nav>
      </section>

      <section class="items-container">
        <div class="errors">
          <% if (typeof errors !== 'undefined' && errors.length) { %>
          <ul style="color: red">
            <% errors.forEach(e => { %>
            <li><%= e.msg %></li>
            <% }) %>
          </ul>
          <% } %>
        </div>

        <% if(!items || items.length === 0){ %>
        <div>
          <h3>You current have no files or folders!</h3>
        </div>
        <%} else {%>
        <table class="items-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Size</th>
              <th>Date Created</th>
              <th>Rename</th>
              <th>Download</th>
              <th>Share</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <% items.forEach(item => { %>
            <tr>
              <td>
                <% if (item.type === 'folder') { %>
                <a href="/dashboard?folderId=<%= item.id %>"
                  >📁 <%= item.name %></a
                >

                <% } else { %> 📄 <%= item.name %> <% } %>
              </td>
              <td><%= item.type === 'file' ? fileSize(item.size) : '-' %></td>
              <td><%= item.date.toLocaleString() %></td>
              <td>
                <button
                  class="btn-link"
                  onclick="openRenameModal(<%= item.id %>, '<%= item.type %>', '<%= item.name %>', <%= currentFolderId || null %>)"
                >
                  <svg
                    class="edit-icon"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path
                      d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"
                    />
                    <path
                      d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"
                    />
                  </svg>
                </button>
              </td>
              <td>
                <% if (item.type === 'folder') { %>
                <a href="/folders/<%= item.id %>/download">Download</a>
                <% } else { %>
                <a href="/files/<%= item.id %>/download">Download</a>
                <% } %>
              </td>
              <td>
                <button
                  class="btn-link"
                  onclick="openShareModal(<%= item.id %>, '<%= item.type %>')"
                >
                  Share
                </button>
              </td>
              <td>
                <% if(item.type === 'folder') {%>
                <form
                  action="/folders/<%=item.id%>/delete"
                  method="post"
                  onsubmit="return confirmDelete('<%= item.name %>')"
                >
                  <button class="delete-btn">
                    <svg
                      class="delete-icon"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path
                        d="M3 6h18M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2M10 11v6M14 11v6M5 6l1 14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2l1-14H5z"
                      />
                    </svg>
                  </button>
                </form>
                <%} else {%>
                <form
                  action="/files/<%=item.id%>/delete"
                  method="post"
                  onsubmit="return confirmDelete('<%= item.name %>')"
                >
                  <input
                    type="hidden"
                    name="currentFolderId"
                    id="<%=currentFolderId ?? ''%>"
                  />
                  <button class="delete-btn">
                    <svg
                      class="delete-icon"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path
                        d="M3 6h18M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2M10 11v6M14 11v6M5 6l1 14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2l1-14H5z"
                      />
                    </svg>
                  </button>
                </form>
                <% }%>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>

        <% }%>
      </section>
    </main>

    <script src="/scripts/dashboardScripts.js"></script>
  </body>
</html>
